nltk==3.6.1
yfinance==0.1.55
streamlit==0.82.0
pandas==1.2.3
py_currency_converter==1.2.0
plotly==4.14.3
numpy==1.19.5
tensorflow==2.5.0rc0
matplotlib==3.3.4
keras_tuner==1.0.2
joblib==1.0.1
google_search==1.1.1
beautifulsoup4==4.9.3
Pillow==8.2.0
scikit_learn==0.24.2
