joblib==1.0.1
pandas==1.2.4
plotly==4.14.3
numpy==1.18.5
tensorflow==2.4.0
streamlit==0.80.0
matplotlib==3.4.1
py_currency_converter==1.2.0
yfinance==0.1.59
nltk==3.6.2
beautifulsoup4==4.9.3
Pillow==8.2.0
scikit_learn==0.24.1
